In [1]:
# web scraping of stock tickers & company names
#  fetch the html content of the webpage

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
# initialize list of companies and stocks
company_name = []
company_ticker = []

In [4]:
URL = 'https://www.advfn.com/nyse/newyorkstockexchange.asp?companies=A'
page = requests.get(URL)

# parse the text response
soup = BeautifulSoup(page.text,'html.parser')

In [5]:
## preview of structure
# soup

In [6]:
odd_rows = soup.find_all('tr', attrs={'class':'ts0'})

In [7]:
#odd_rows

In [8]:
even_rows = soup.find_all('tr', attrs={'class':'ts1'})

In [9]:
#even_rows

In [10]:
for i in odd_rows:
    row = i.find_all('td')
    company_name.append(row[0].text.strip()) #company name
    company_ticker.append(row[1].text.strip()) #ticker
    
for i in even_rows:
    row = i.find_all('td')
    company_name.append(row[0].text.strip()) #company name
    company_ticker.append(row[1].text.strip()) #ticker

In [11]:
# define function to scrap the data
def scrape_stock_symbols(Letter):
    Letter = Letter.upper()
    URL = 'https://www.advfn.com/nyse/newyorkstockexchange.asp?companies='+Letter
    page = requests.get(URL)
    soup = BeautifulSoup(page.text,'html.parser')
    odd_rows = soup.find_all('tr', attrs={'class':'ts0'})
    even_rows = soup.find_all('tr', attrs={'class':'ts1'})
    
    for i in odd_rows:
        row = i.find_all('td')
        company_name.append(row[0].text.strip()) #company name
        company_ticker.append(row[1].text.strip()) #ticker

    for i in even_rows:
        row = i.find_all('td')
        company_name.append(row[0].text.strip()) #company name
        company_ticker.append(row[1].text.strip()) #ticker

    return (company_name,company_ticker)

In [12]:
# get company name and ticker start with 'b', reutrn

(temp_name,temp_ticker) = scrape_stock_symbols('b')
print(type((temp_name,temp_ticker)))

<class 'tuple'>

In [13]:
# get list of every letter in alphabet
import string
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [14]:
# loop through every letter in alphabet to get all tickers and company names from the website
for char in string.ascii_uppercase:
    (temp_name, temp_ticker) = scrape_stock_symbols(char)

In [15]:
#temp_ticker

In [16]:
#create dataframe that contain company ticker and name
df = pd.DataFrame(columns = ['company_name','company_ticker'])
df['company_name'] = temp_name
df['company_ticker'] = temp_ticker

In [25]:
# clean the data, remove empty cells
df = df[df['company_name']!= '']
df

                    company_name company_ticker
0           A H Belo Corporation            AHC
1               AAC Holdings Inc            AAC
2                        ABB Ltd            ABB
3            ADC Therapeutics SA           ADCT
4         AEABridges Impact Corp         IMPX.U
...                          ...            ...
3326                   Zuora Inc            ZUO
3327     Zayo Group Holdings Inc           ZAYO
3328  Zimmer Biomet Holdings Inc            ZBH
3329                  Zoetis Inc            ZTS
3330               Zymeworks Inc           ZYME

[3331 rows x 2 columns]

In [11]:
# part 2
# fetch html content of webpage using requests and bs4

import requests
from bs4 import BeautifulSoup

r = requests.get('https://www.usclimatedata.com/climate/united-states/us')
print(len(r.text))

43552

In [12]:
soup = BeautifulSoup(r.text)
print(soup.title)
print(soup.title.string)

<title>Climate United States - Normals and averages</title>
Climate United States - Normals and averages

In [13]:
print(soup.p)
print(soup.p.text)
print(soup.a)
print(soup.a['title'])
print()
print(soup.p.parent)

<p class="selection_title">Select a state by name</p>
Select a state by name
<a class="navbar-brand" href="/" title="Temperature - Precipitation - Sunshine - Snowfall"><img alt="Temperature - Precipitation - Sunshine - Snowfall" data-src="https://www.usclimatedata.com/assets/images/us-climate-data.png" height="34" src="https://www.usclimatedata.com/assets/images/us-climate-data.png" srcset="https://www.usclimatedata.com/assets/images/us-climate-data.png 1x, https://www.usclimatedata.com/assets/images/us-climate-data-2.png 2x" width="31"/><span class="white ml-2">U.S. Climate Data</span></a>
Temperature - Precipitation - Sunshine - Snowfall

<div class="float-left mb-4 mt-2"><p class="selection_title">Select a state by name</p></div>

In [ ]:
# Prettify() is handy for formatted printing, but works only on bs4 objects, 
# not on strings, dicts or lists. For those you need to import pprint.

# find_all anchor tags for, and print out the href attribute, which is the actual link url

In [9]:
for link in soup.find_all('a'):
    print(link.get('href'))

/
#
/
/climate/united-states/us
/
/climate/united-states/us
/climate/alabama/united-states/3170
/climate/alaska/united-states/3171
/climate/arizona/united-states/3172
/climate/arkansas/united-states/3173
/climate/california/united-states/3174
/climate/colorado/united-states/3175
/climate/connecticut/united-states/3176
/climate/delaware/united-states/3177
/climate/district-of-columbia/united-states/3178
/climate/florida/united-states/3179
/climate/georgia/united-states/3180
/climate/hawaii/united-states/3181
/climate/idaho/united-states/3182
/climate/illinois/united-states/3183
/climate/indiana/united-states/3184
/climate/iowa/united-states/3185
/climate/kansas/united-states/3186
/climate/kentucky/united-states/3187
/climate/louisiana/united-states/3188
/climate/maine/united-states/3189
/climate/maryland/united-states/1872
/climate/massachusetts/united-states/3191
/climate/michigan/united-states/3192
/climate/minnesota/united-states/3193
/climate/mississippi/united-states/3194
/climate/missouri/united-states/3195
/climate/montana/united-states/919
/climate/nebraska/united-states/3197
/climate/nevada/united-states/3198
/climate/new-hampshire/united-states/3199
/climate/new-jersey/united-states/3200
/climate/new-mexico/united-states/3201
/climate/new-york/united-states/3202
/climate/north-carolina/united-states/3203
/climate/north-dakota/united-states/3204
/climate/ohio/united-states/3205
/climate/oklahoma/united-states/3206
/climate/oregon/united-states/3207
/climate/pennsylvania/united-states/3208
/climate/puerto-rico/united-states/7335
/climate/rhode-island/united-states/3209
/climate/south-carolina/united-states/3210
/climate/south-dakota/united-states/3211
/climate/tennessee/united-states/3212
/climate/texas/united-states/3213
/climate/utah/united-states/3214
/climate/vermont/united-states/3215
/climate/virginia/united-states/3216
/climate/washington/united-states/3217
/climate/west-virginia/united-states/3218
/climate/wisconsin/united-states/3219
/climate/wyoming/united-states/3220
/climate/washington/district-of-columbia/united-states/usdc0001
 https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.usclimatedata.com%2Fclimate%2Funited-states%2Fus
https://twitter.com/intent/tweet/?text=Climate United States - Normals and averages&url=https%3A%2F%2Fwww.usclimatedata.com%2Fclimate%2Funited-states%2Fus
https://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.usclimatedata.com%2Fclimate%2Funited-states%2Fus&media=description=Climate United States - Normals and averages
mailto:mail@example.com?subject=Climate United States - Normals and averages&body=Climate United States - Normals and averages - https%3A%2F%2Fwww.usclimatedata.com%2Fclimate%2Funited-states%2Fus
https://www.tumblr.com/widgets/share/tool?posttype=link&title=Climate United States - Normals and averages&caption=&content=Climate United States - Normals and averages - https%3A%2F%2Fwww.usclimatedata.com%2Fclimate%2Funited-states%2Fus&canonicalUrl=https%3A%2F%2Fwww.usclimatedata.com%2Fclimate%2Funited-states%2Fus&shareSource=tumblr_share_button
whatsapp://send?text='Climate United States - Normals and averages - https%3A%2F%2Fwww.usclimatedata.com%2Fclimate%2Funited-states%2Fus'
https://www.facebook.com/yourweatherservice
https://twitter.com/usclimatedata
/website-info

In [14]:
## Filter urls using string functions
# We just add an if to check conditions, then add the good ones to a list.
#In the end we get 51 state links, including Washington DC.
base_url = 'https://www.usclimatedata.com'
state_links = []
for link in soup.find_all('a'):
    url = link.get('href')
    if url and '/climate/' in url and '/climate/united-states/us' not in url:
        state_links.append(url)
print(len(state_links))

53

In [15]:
#Test getting the data for one state, then print the title for that page.

r = requests.get(base_url + state_links[5])
soup = BeautifulSoup(r.text)
print(soup.title.string)

Climate Colorado - Temperature, Rainfall and Averages

In [19]:
rows = soup.find_all('tr')
print(len(rows))

12

In [20]:
# Filter rows, and add temp data to list
# list comprehension to filter the rows.
#Then we have only 2 rows left.
#We iterate through those 2 rows, and add all the temps from data cells (td) into a list.


rows = [row for row in rows if 'Average high' in str(row)]
print(len(rows))

high_temps = []
for row in rows:
    tds = row.find_all('td')
    for i in range(1,7):
        high_temps.append(tds[i].text)
print(high_temps)

2

IndexError: list index out of range

In [21]:
# Get the name of the State
#First attempt we just split the title string into a list, and grab the second word.
#But that doesn't work for 2-word states like New York and North Carolina.
#So instead we slice the string from first blank to the hyphen.

state = soup.title.string.split()[1]
print(state)
s = soup.title.string
state = s[s.find(' '):s.find('-')].strip()
print(state)

Colorado
Colorado

In [22]:
# Add state name and temp list to the data dictionary
#For a single state, this is what our scraped data looks like.
#In this example we only got monthly highs by stat
#e, but you could drill into cities, and could get lows and precipitation.

data = {}
data[state] = high_temps
print(data)

{'Colorado': ['46', '54', '61', '72', '82']}

In [24]:
# Put it all together and iterate 51 states
#We loop through our 51-state list, and get high temp data for each state, and add it to the data dict.
#This combines all our work above into a single for loop.
#The result is a dict with 51 states and a list of monthly highs for each.

data = {}
for state_link in state_links:
    url = base_url + state_link
    r = requests.get(base_url + state_link)
    soup = BeautifulSoup(r.text)
    rows = soup.find_all('tr')
    rows = [row for row in rows if 'Average high' in str(row)]
    high_temps = []
    
    for row in rows:
        tds = row.find_all('td')
        for i in range(1,7):
            high_temps.append(tds[i].text)
    s = soup.title.string
    state = s[s.find(' '):s.find('-')].strip()
    data[state] = high_temps
print(data)

IndexError: list index out of range

In [29]:
# Save to CSV file
# write all this data to a CSV file

import csv

with open('high_temps.csv','w') as f:
    w = csv.writer(f)
    w.writerows(data.items())